
@{
    ViewBag.Title = "商品详情";
}


<div class="container">
    <div class="allscreen" style="font-size: 20px ;font-weight: bold;">
        <span class="aaa fontcolor1">商品详情</span>

    </div>
    <div class="row">
        <div class="col-md-4" style="text-align:center" >
            @switch (@ViewBag.Id.type)
            {
                case 2:
                    <img src="/Content/img/Hunsha/@ViewBag.Id.img" alt="商品图片" class="img-fluid" style="height:480px">
                    break;
                case 3:
                    <img src="/Content/img/Hunsha/@ViewBag.Id.img" alt="商品图片" class="img-fluid" style="height:480px">
                    break;
                case 6:
                    <img src="/Content/img/flower/@ViewBag.Id.img" alt="商品图片" class="img-fluid" style="height:480px">
                    break;
                default:
                    <img src="/Content/img/Hunsha/@ViewBag.Id.img" alt="商品图片" class="img-fluid" style="height:480px">
                    break;
            }

        </div>
        <div class="col-md-8 product">
            <h2>@ViewBag.Id.name</h2>
            <h4 product-title>商品价格：<span style="color: #900021"> $@ViewBag.Id.price</span> </h4>
            <h4 product-title>状态 ： <span style="color: #81D8CF"> @ViewBag.Id.stat</span> </h4>
            <h4 class="text-muted">商品类型：@ViewBag.Id.tpye_lei.name</h4>
            <div class="row">
                <div class="col-md-12">
                    <span>商品详情：</span>
                    <p>
                        &nbsp;&nbsp;
                        和千千万万对情侣一样，在平凡的爱情里，有第一次见面时的紧张和悸动，有在校园里谈恋爱的青涩与美好，体验过一起旅行、带点小浪漫、带点小惊喜、也带点小吵闹。

                        多年后的某一天，他们顺理成章的送给彼此一生最幸福的承诺。
                    </p>
                </div>
            </div>
            <form action="/Home/Ding" method="post">
                <input type="hidden" name="tyid" value="@ViewBag.Id.id">
                <input type="hidden" name="price" value="@ViewBag.Id.price">
                <label for="quantity" class="form-label">商品编号：@ViewBag.Id.id</label>
                <div class="mb-3">

                    <label for="quantity" class="form-label">商品数量：<input type="number" id="quantity" max="1000"  placeholder="单次最多购买1000件"  name="shuliang" class="form-control" value="1" min="1"></label>
                </div>
                <div class="btn-group" role="group">
                    <button type="submit" name="action" value="addCart" class="btn btn-primary">加入购物车</button>
          
                </div>
            </form>


        </div>
    </div>
    <hr>

</div>



