
@{
    ViewBag.Title = "酒店";
}
@using WeddingProject.Models
<div class="page-header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="header-page">
                    <h1>酒店服务</h1>
                    <ul>
                        <li> <a href="/Mo/Index" target="_blank">首页</a> </li>
                        <li>酒店</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Section End Here -->
<!-- Blog Area Start Here -->
<div class="single-services-area blog-page-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-md-3 col-sm-3 col-xs-12">
                <div class="sidebar-area">
                    <div class="single-sidebar">
                        <h2>搜索</h2>
                        <div id="custom-search-input">
                            <div class="input-group col-md-12 serach-box">
                                <input type="text" class="search-query form-control" placeholder="酒店名">
                                <button class="btn" type="button">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar padding-top">
                        <h2>分类</h2>
                        <ul>
                            <li><a href="/Home/Hote/1"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 豪华四星</a></li>
                            <li><a href="/Home/Hote/2"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 豪华五星</a></li>
                            <li><a href="/Home/Hote/3"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 婚礼堂</a></li>
                            <li><a href="/Home/Hote/4"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 特色餐厅</a></li>
                            <li><a href="/Home/Hote/5"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 其他酒店</a></li>
                            <li><a href="/Home/Hote/"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 全部</a></li>
                        </ul>
                    </div>
                    <div class="single-sidebar padding-top">
                        <h2>Archives</h2>
                        <ul>
                            <li><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> February</a></li>
                            <li><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 2023(3)</a></li>
                            <li><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> March</a></li>
                            <li><a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>2023(3)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-md-9 col-sm-9 col-xs-12">
                <div class="blog-page-content">
                    @foreach (var item in Model as List<Hote>)
                    {

                        <div class="single-blog padding-top">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="/Home/Hotelx/@item.id" target="_blank">
                                        @if (item.img != null)
                                        {
                                            <img src="/Content/img/Hotel/@item.img" style="max-width:450px;max-height:300px" alt="">
                                        }
                                        else
                                        {
                                            <img src="/Content/img/Hotel/theme.jpg" style="width:100%;max-height:300px" alt="" />
                                        }
                                    </a>
                                    <div class="details">
                                        <a href="/Home/Hotelx/@item.id" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="date">
                                        <ul>
                                            <li><span>婚庆定制</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="/Home/Hotelx/@item.id" target="_blank">@item.name</a></h4>
                                    <p>可容纳&nbsp;&nbsp;&nbsp;<span>@item.rongliang</span>&nbsp;&nbsp;&nbsp;人 </p>
                                    <p>价格：&nbsp;&nbsp;<span>  @item.Price </span>&nbsp;&nbsp;元</p>
                                    <p>类型：&nbsp;&nbsp;<span>  @item.type_Hote.name </span></p>
                                    <div class="blog-content">
                                        <p>地区：&nbsp;&nbsp;<span> @item.addr</span></p>
                                        <div class="read-more">
                                            <a href="/Home/Hotelx/@item.id" >查看套餐</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    }


                </div>

            </div>
            <div aria-label="Page navigation example" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">

                <ul class="pagination">
                    @PagerHelper.Pager(ViewBag.TotalItems, ViewBag.PageNumber, ViewBag.PageSize, new Func<int, string>(page => Url.Action("Hote", new { page })))
                </ul>

            </div>
        </div>
        </div>
    </div>

